*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    position: relative;
}

body {
    margin: 0;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(229, 73%, 3%);
    background-image: linear-gradient(185deg, hsl(18, 24%, 15%), hsl(27, 28%, 15%));
}

header {
    position: fixed;
    font-family: 'Aldrich', monospace;
    background-color:
        hsl(200, 10%, 10%);
    width: 100%;
    z-index: 9999;
    transition: 0.25s visibility;
    top: 0;
    transition: top 0.25s ease-in-out;
}

header a {
    color: white;
    padding: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
}

header a:hover {
    background-color: rgb(36, 36, 40);
}

header nav {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

header:hover {
    animation: dynamicIsland 0.3s ease-in-out forwards running;
    transition: animation 0.2s
}

main {
    color: #ffffff;
    text-align: center;
    height: 100%;
    background-image: linear-gradient(to bottom, #1E1663, #CB5269, #D9633E);
}

main h1 {
    font-family: 'Aldrich', monospace;
    font-size: 2.5em;
    color: #ffffff;
    padding: 1rem;
}

main p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.4em;
    width: 90%;
}

main a {
    color: #a2ddff;
    text-decoration: none;
    transition: text-shadow 0.3s;
}

main ul {
    font-family: 'JetBrains Mono', 'Helvetica Neue', sans-serif;
    width: 90%;
    font-size: 1.4em;
    list-style-position: inside;
    margin: auto;
}

main h2 {
    font-family: 'Aldrich', Helvetica, sans-serif;
    margin: 15px;
}

main a:hover {
    text-shadow: 0 0 6px #4b93ff;
}

main img {
    padding: 1.5rem;
}

main hr {
    margin: auto;
    margin-top: 3rem;
    border: white solid 0.1rem;
    border-radius: 100rem;
    width: 75%;
}

.cool {
    font-size: 4vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cool .date {
    color: #ff7700;
    text-shadow: 0 0 2rem #000000;
}

#date1,
#date2 {
    display: inline-block; 
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Aldrich', Helvetica, sans-serif;
    padding: 1.5em;
    z-index: 9998;
}

footer a {
    color: #5d3d14;
    text-decoration: none;
    font-size: 1.5em;
}

button {
    border: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Aldrich', Helvetica, sans-serif;
    margin-bottom: 30px;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

.mtCoronet0{
    position: absolute;
    top: 0;
    transform: translate(-15vw, 37vw);
    border-left: 20vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 23vw solid #2d2922;
    z-index: 998;
}

.mtCoronet{
    position: absolute;
    top: 0;
    transform: translate(5vw, 30vw);
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 30vw solid #3b332a;
    z-index: 1000;
}

.mtCoronet2{
    position: absolute;
    top: 0;
    transform: translate(25vw, 35vw);
    border-left: 30vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 25vw solid #322f2a;
    z-index: 999;
}

.mtCoronet3{
    position: absolute;
    top: 0;
    transform: translate(10vw, 37vw);
    border-left: 30vw solid transparent;
    border-right: 19vw solid transparent;
    border-bottom: 25vw solid #312d23;
    z-index: 995;
}

.mtCoronet4{
    position: absolute;
    top: 0;
    transform: translate(40vw, 32vw);
    border-left: 33vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 25vw solid rgb(47, 42, 31);
    z-index: 998;
}

.mtCoronet5{
    position: absolute;
    top: 0;
    transform: translate(60vw, 38vw);
    border-left: 40vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 22vw solid rgb(51, 46, 30);
    z-index: 998;
}

.mtCoronet6{
    position: absolute;
    top: 0;
    transform: translate(61vw, 36vw);
    border-left: 25vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 28vw solid rgb(43, 40, 28);
    z-index: 990;
}


.grass{
    position: absolute;
    top: 0;
    transform: translate(0px, 60vw);
    padding: 2vw 50vw;
    background-image: linear-gradient(185deg, #128511, #128511);
    z-index: 9991;
}

.cave{
    position: absolute;
    top: 0;
    padding: 30% 100% 0 0;
    transform: translate(0px, 60vw);
    background-image: linear-gradient(185deg, hsl(18, 24%, 15%), hsl(27, 28%, 15%));
    z-index: 9990;
}

article{
    margin-top: 10vw;
    position: relative;
    z-index: 9998;
}