*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    position: relative;
}

body {
    margin: 0;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0f0e23;
}

header {
    position: fixed;
    font-family: 'Aldrich', monospace;
    background-color:
        hsl(236, 29%, 12%);
    width: 100%;
    z-index: 9999;
    transition: 0.25s visibility;
    top: 0;
    transition: top 0.25s ease-in-out;
}

header a {
    color: white;
    padding: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
}

header a:hover {
    background-color: rgb(36, 36, 40);
    transition: background-color 0.25s
}

header nav {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

main {
    color: #ffffff;
    text-align: center;
    height: 100%;
    background-image: linear-gradient(to top, #FD6846,#A43C52, #41165E, #2F0E64);
}

main h1,
article h1 {
    font-family: 'Aldrich', monospace;
    font-size: 2.5em;
    color: #ffffff;
    padding: 1vw;
    z-index: 996;
}

article {
    color: white;
    position: relative;
    z-index: 9998;
    margin-top: 10vw;
}

article p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 90%;
}

article a {
    color: #a2ddff;
    text-decoration: none;
    transition: text-shadow 0.3s;
}

article ul {
    font-family: 'JetBrains Mono', 'Helvetica Neue', sans-serif;
    width: 90%;
    font-size: 1.4em;
    list-style-position: inside;
    margin: auto;
}

article h2 {
    font-family: 'Aldrich', Helvetica, sans-serif;
    margin: 15px;
}

article a:hover {
    text-shadow: 0 0 6px #4b93ff;
}

article img {
    padding: 1.5rem;
}

article hr {
    margin: auto;
    margin-top: 3rem;
    border: white solid 0.1rem;
    border-radius: 100rem;
    width: 75%;
}

.cool {
    font-size: 4vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cool .date {
    color: #ff7700;
    text-shadow: 0 0 1.5vw #000000;
}

#title {
    display: inline-block;
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Aldrich', Helvetica, sans-serif;
    padding: 1.5em;
    z-index: 9998;
}

footer a {
    color: hsl(243, 43%, 30%);
    text-decoration: none;
    font-size: 1.5em;
}

button {
    border: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Aldrich', Helvetica, sans-serif;
    margin-bottom: 30px;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

/* Mountains */
.mtCoronet0 {
    position: absolute;
    top: 0;
    transform: translate(-15vw, 37vw);
    border-left: 20vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 23vw solid #150f2b;
    z-index: 998;
}

.mtCoronet {
    position: absolute;
    top: 0;
    transform: translate(5vw, 30vw);
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 30vw solid #0f0e23;
    z-index: 1000;
}

.mtCoronet2 {
    position: absolute;
    top: 0;
    transform: translate(25vw, 32vw);
    border-left: 30vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 28vw solid #121226;
    z-index: 999;
}

.mtCoronet3 {
    position: absolute;
    top: 0;
    transform: translate(10vw, 37vw);
    border-left: 30vw solid transparent;
    border-right: 19vw solid transparent;
    border-bottom: 23vw solid #1f1f3d;
    z-index: 995;
}

.mtCoronet4 {
    position: absolute;
    top: 0;
    transform: translate(40vw, 32vw);
    border-left: 33vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 25vw solid #1f1a3c;
    z-index: 998;
}

.mtCoronet5 {
    position: absolute;
    top: 0;
    transform: translate(60vw, 38vw);
    border-left: 40vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 22vw solid #14142d;
    z-index: 998;
}

.mtCoronet6 {
    position: absolute;
    top: 0;
    transform: translate(61vw, 36vw);
    border-left: 25vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 24vw solid #29264b;
    z-index: 997;
}